action_msgs==1.2.1
ament_index_python==1.4.0
builtin_interfaces==1.2.1
cv_bridge==3.2.1
geometry_msgs==4.8.0
irobot_create_msgs==2.1.0
lifecycle_msgs==1.2.1
matplotlib==3.5.1
nav2_msgs==1.1.18
nav_msgs==4.8.0
numpy==1.21.5
opencv_python==4.11.0.86
pyttsx3==2.98
rclpy==3.3.16
scipy==1.8.0
sensor_msgs==4.8.0
sensor_msgs_py==4.8.0
std_msgs==4.8.0
tf2_geometry_msgs==0.25.12
tf2_ros_py==0.25.12
transforms3d==0.4.2
turtle_tf2_py==0.3.7
ultralytics==8.3.91
visualization_msgs==4.8.0
